In [59]:
import sqlalchemy
from sqlalchemy import create_engine,MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float
import pandas as pd
import numpy as np
import os

In [60]:
cleaned_file = "./cleaned_measurement.csv"
cleaned_measure_df = pd.read_csv(cleaned_file, dtype = object)
cleaned_measure_df.head()

       station        date  prcp tobs
0  USC00519397  2010-01-01  0.08   65
1  USC00519397  2010-01-02     0   63
2  USC00519397  2010-01-03     0   74
3  USC00519397  2010-01-04     0   76
4  USC00519397  2010-01-07  0.06   70

In [61]:
#Load cleaned csv files into pandas dataframe (for the station class)
station_file =("./hawaii_stations.csv")
station_df = pd.read_csv(station_file,dtype = object)
station_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [62]:
# Create an engine to a database file called `hawaii.sqlite`
engine = create_engine("sqlite:///hawaii.sqlite")
# Create a connection to the engine called `conn`
conn = engine.connect()

In [63]:
# Use `declarative_base` from SQLAlchemy to model the tables as an ORM class
Base = declarative_base()

In [64]:
#Use declarative base from SQLAlchemy to model the measurement table as an ORM

#Base = declarative_base() --commented out

class measurement(Base):
    __tablename__ = 'measurement'
    
    id = Column(Integer, primary_key = True)
    station = Column(Text)
    date = Column(Text)
    prcp = Column(Float)
    tobs = Column(Float)
    
    def __repr__(self):
        return f"id = {self.id}, name = {self.name}"

In [65]:
#Base = declarative_base() --commented out

class station(Base): #removed space
    __tablename__ = 'station'
    
    id = Column(Integer, primary_key=True)
    station   = Column(Text)
    name      = Column(Text)
    latitude  = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    
    def __repr__(self):
        return f"id = {self.id}, name = {self.name}"

In [66]:
# Display the schema of the measurement table we just created
measurement.__table__

Table('measurement', MetaData(bind=None), Column('id', Integer(), table=<measurement>, primary_key=True, nullable=False), Column('station', Text(), table=<measurement>), Column('date', Text(), table=<measurement>), Column('prcp', Float(), table=<measurement>), Column('tobs', Float(), table=<measurement>), schema=None)

In [67]:
# Display the schema of the station table we just created
station.__table__

Table('station', MetaData(bind=None), Column('id', Integer(), table=<station>, primary_key=True, nullable=False), Column('station', Text(), table=<station>), Column('name', Text(), table=<station>), Column('latitude', Float(), table=<station>), Column('longitude', Float(), table=<station>), Column('elevation', Float(), table=<station>), schema=None)

In [68]:
# Use `create_all` to create the tables
Base.metadata.create_all(engine)

In [69]:
engine.table_names()

['measurement', 'station']

In [70]:
# Load the cleaned(measurement) csv file into a pandas dataframe
df_measurement_data_to_insert = pd.read_csv("./cleaned_measurement.csv")

In [71]:
# Use Orient='records' to create a list of data to write
measurement_data = df_measurement_data_to_insert.to_dict(orient='records')
measurement_data[0]

{'date': '2010-01-01', 'prcp': 0.08, 'station': 'USC00519397', 'tobs': 65}

In [72]:
# Load the cleaned(measurement) csv file into a pandas dataframe
df_station_data_to_insert = pd.read_csv("./hawaii_stations.csv")

In [73]:
# Use Orient='records' to create a list of data to write
station_data = df_station_data_to_insert.to_dict(orient='records')
station_data[0]

{'elevation': 3.0,
 'latitude': 21.2716,
 'longitude': -157.8168,
 'name': 'WAIKIKI 717.2, HI US',
 'station': 'USC00519397'}

In [74]:
# Use MetaData from SQLAlchemy to reflect the tables
metadata = MetaData(bind=engine)
metadata.reflect()

In [75]:
# Save the reference to the `measurement` table as a variable called `measurement_table`
measurement_table = sqlalchemy.Table('measurement', metadata, autoload=True)

In [76]:
# Save the reference to the `station` table as a variable called `station_table`
station_table = sqlalchemy.Table('station', metadata, autoload=True)

In [77]:
# Use _table.insert() to insert the data into the table
conn.execute(measurement_table.insert(), measurement_data)

In [78]:
# Test that the insert works by fetching the first 5 rows. 
conn.execute("select * from measurement limit 5").fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65.0),
 (2, 'USC00519397', '2010-01-02', 0.0, 63.0),
 (3, 'USC00519397', '2010-01-03', 0.0, 74.0),
 (4, 'USC00519397', '2010-01-04', 0.0, 76.0),
 (5, 'USC00519397', '2010-01-07', 0.06, 70.0)]

In [79]:
# Use _table.insert() to insert the data into the table
conn.execute(station_table.insert(), station_data)

In [80]:
# Test that the insert works by fetching the first 5 rows. 
conn.execute("select * from station limit 5").fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)]