In [1]:
#Dependencies
import pandas as pd
import numpy as np
import os

In [42]:
#To read the measurement csv into pandas dataframe
measurement_file = "./hawaii_measurements.csv"
df_measurement = pd.read_csv(measurement_file, dtype = object)
df_measurement.head()

       station        date  prcp tobs
0  USC00519397  2010-01-01  0.08   65
1  USC00519397  2010-01-02     0   63
2  USC00519397  2010-01-03     0   74
3  USC00519397  2010-01-04     0   76
4  USC00519397  2010-01-06   NaN   73

In [41]:
#To check the number of NaN values in the dataframe
df_measurement_NaN = df_measurement[df_measurement.isnull().any(axis = 1)]
df_measurement_NaN.head()
# 1445 rows have NaN values under the prcp column

Empty DataFrame
Columns: [station, date, prcp, tobs]
Index: []

In [39]:
#To get rid of rows with the NaN values:
df_measurement = df_measurement.dropna(axis=0)
df_measurement.head()

       station        date  prcp tobs
0  USC00519397  2010-01-01  0.08   65
1  USC00519397  2010-01-02     0   63
2  USC00519397  2010-01-03     0   74
3  USC00519397  2010-01-04     0   76
5  USC00519397  2010-01-07  0.06   70

In [ ]:
# # BEGIN SOLUTION
# clean_data = "cleaned_csv.csv"
# df.to_csv(clean_data, index=False)
# # END SOLUTION

In [40]:
#save cleaened data into a file called clean_measurement
clean_measurement = "cleaned_measurement.csv"
df_measurement.to_csv(clean_measurement, index=False)
clean_measurement

'cleaned_measurement.csv'

In [35]:
#To read the stations csv file into the pandas datafram
stations_file = "./hawaii_stations.csv"
df_stations = pd.read_csv(stations_file, dtype = object)
df_stations

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.3152,-157.9992,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4

In [ ]:
#Database Engineering

In [33]:
# #python SQL toolkit and Object Relational Mapper
# import sqlalchemy
# from sqlalchemy import create_engine,MetaData
# from sqlalchemy.ext.declarative import declarative_base
# from sqlalchemy import Column, Integer, String, Numeric, Text, Float